# MacOS
.DS_Store

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
plan.*.out
plan.*.txt

# Visual Studio Code
/.vscode/

# Secrets
/projects/px1021/GoogleIDP*
/projects/px1021/teleport-example/terraform/license.pem
/projects/px1021/**/export.secret.*

# Binaries
*.zip

# WIP
/awscda/s05-l46+47-serverless-polly/pollyassets/
